#container
{
    background-color: red;
    width:1500px;
    position: relative;
}

#up_place
{
    background-color: blue;
    width:1400px;
}

.column
{
    width:132px;
    float: left;
    margin-left:5px;
    margin-right: 5px;
    height:1300px;
    justify-content: center;
    text-align: center;
}

.card
{
    width:122px;
    height: 190px;
    margin-bottom:-150px;
    display: flex;
	justify-content: center;
	align-items: center;
   
}

.chosen_card
{
    width:122px;
}

.chosen_card:hover
{
    width:122px;
   opacity:0.8;
}
