#container
{
    background-color: red;
    width:1500px;
}

#up_place
{
    background-color: blue;
    width:1400px;
}

.column
{
    width:130px;
    float: left;
}

.card
{
    width:125px;
    height: 190px;
    margin-bottom:-150px;
}

